
scripts/script12/script12.yy
shaders/shader1/shader1.fsh
shaders/shader1/shader1.vsh
shaders/shader1/shader1.yy
scripts/script12/script12.gml
fonts/font0/font0.png
fonts/font0/font0.yy
fonts/font1/font1.png
fonts/font1/font1.yy
objects/object42/object42.yy
paths/path1/path1.yy
rooms/room15/room15.yy
sounds/sound9/sound9.yy
sounds/sound5/sound5.yy
sounds/sound15/sound15.yy
sounds/sound10/sound10.yy
sounds/sound11/sound11.yy
sounds/sound12/sound12.yy
sounds/sound13/sound13.yy
sounds/sound14/sound14.yy
sounds/sound4/sound4.yy
sounds/sound6/sound6.yy
sounds/sound7/sound7.yy
sounds/sound8/sound8.yy
